<div class="portlet box yellow">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-plugins"></i> {{title}}
        </div>
        <div class="tools">
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form class="form-horizontal" id="plugin-form" name="form" novalidate>
            <div class="form-body">
                <input type="text" name="class" data-required="1" class="form-control" ng-model="plugin.class" disabled/>

                <div class="form-group">
                    <div class="col-md-12">
                        <ui-codemirror ui-codemirror-opts="editorOptions" ng-model="plugin.source"></ui-codemirror>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn green" ng-disabled="form.$invalid">提交</button>
                        <button type="button" class="btn default" ng-click="$root.$state.go('plugin.list')">取消</button>
                    </div>
                </div>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>
